rules_version = '2';


service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check admin
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    // Allow public read, only admin write for all folders
    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}

